:host{
  position: absolute;
}
.carousel__viewport {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }
  .carousel__slide {
    scroll-snap-align: start;
    position: relative;
    flex: 1 0 33%;
    margin: 0 0.22rem 0 0;
    justify-content: center;
    object-fit: cover;
    padding: 0;
  }
  .my__carousel__slide{
    scroll-snap-align: start;
    position: relative;
    flex: 1 0 16.5%;
    margin: 0 0.12rem 0 0;
    justify-content: center;
    object-fit: cover;
    padding: 0;
  }
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    width: calc(48*(100vw / 1536));
    height: calc(48*(100vw / 1536));
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  .carousel::before {
    content: '<';
  }
  .carousel::after {
    content: '>';
  }
  .carousel__prev, .carousel__next {
    cursor: grabbing;
    top: 55%;
    transform: translateY(-55%);
  }
  .carousel__next, .carousel::after {
    right: calc(16*(100vw / 1536));
  }
  .carousel__prev, .carousel::before {
    left: calc(16*(100vw / 1536));
  }
  
  .carousel::before,
  .carousel::after {
    z-index: 1;
    background-color: #333;
    background-size: calc(48*(100vw / 1536)) calc(48*(100vw / 1536));
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: calc(24*(100vw / 1536));
    line-height: calc(48*(100vw / 1536));
    text-align: center;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }
  .figure-carousel {
    position: relative;
    height: calc(260*(100vw/1503));
    margin: 0 .25rem;
    img {
      width: 100%;
      object-fit: cover;
      height: calc(260*(100vw/1503));
      cursor: grab;
    }
    figcaption{
      position: absolute;
      padding: 4px;
      text-align: center;
      height: 25%;
      background: rgba(0, 9, 0, 0.4);
      color: #fff;
      bottom: 0;
      width: 100%;
    }
  }
  .mifig{
    height: calc(200*(100vw/1503)) !important;
    figcaption{
      background: rgb(235, 238, 235) !important;
      color: #000 !important;
      bottom: 5px !important;
      width: 100%;
    }
    img{
      height: calc(150*(100vw/1503)) !important;
    }
  }

  @media screen and (max-width: 800px) {
    .carousel__slide {
      flex: 1 0 49.5%
    }
    .my__carousel__slide {
      flex: 1 0 33%
    }
    .carousel__prev,
    .carousel__next, 
    .carousel::before,
   .carousel::after {
      width: calc(64*(100vw / 1536));
      height: calc(64*(100vw / 1536));
      line-height: calc(64*(100vw / 1536)) !important;
    }
    .carousel::before,
    .carousel::after{
      background-size: calc(64*(100vw / 1536)) calc(64*(100vw / 1536)) !important;
      font-size: calc(40*(100vw / 1536)) !important;
    }
    .figure-carousel {
      height: calc(340*(100vw/1503)) !important;
      img{
        height: calc(340*(100vw/1503)) !important;
      }
    }
    .mifig{
      height: calc(310*(100vw/1503)) !important;
      img{
        height: calc(230*(100vw/1503)) !important;
      }
    }
  }