<div class="form">
    <ul class="tab-group">
      <li class="tab" [class.active]="viewMode == 'signup'" rel="signup"
      (click)="onClick('signup')">Sign Up</li>
      <li class="tab" [class.active]="viewMode == 'signin'" rel="signin"
      (click)="onClick('signin')">Sign In</li>
    </ul>
    <article class="tab-content" [ngSwitch]="viewMode">
        <section id="signup" class="" [class.active]="viewMode == 'signup'" *ngSwitchCase="'signup'">
        <h1>Sign Up for Free</h1>
        <form action="/" method="post">
          <div class="top-row">
            <div class="field-wrap">
              <input id="name" type="text" placeholder=" " required autocomplete="off" />
              <label for="name">
                First Name<span class="req">*</span>
              </label>
            </div>
            <div class="field-wrap">
              <input id="lname" type="text" placeholder=" " required autocomplete="off" />
              <label for="lname">
                Last Name<span class="req">*</span>
              </label>
            </div>
          </div> 
          <div class="field-wrap">
            <input id="email" type="email" placeholder=" " required autocomplete="off" />
            <label for="email">
              Email Address<span class="req">*</span>
            </label>
          </div> 
          <div class="field-wrap">
            <input id="pass" type="password" placeholder=" " required autocomplete="off" />
            <label for="pass">
              Set A Password<span class="req">*</span>
            </label>
          </div>
          <button type="submit" class="button button-block">Get Started</button>
        </form>
    </section>
    <section id="signin" class="signin" [class.active]="viewMode == 'signin'" *ngSwitchCase="'signin'">
        <h1>Welcome Back!</h1>
        <form action="/" method="post">
          <div class="field-wrap">
            <input id="email" type="email" placeholder=" " required autocomplete="off" />
            <label for="email">
              Email Address<span class="req">*</span>
            </label>
          </div>
          <div class="field-wrap">
            <input id="pass" type="password" placeholder=" " required autocomplete="off" />
            <label for="pass">
              Password<span class="req">*</span>
            </label>
          </div>
          <label class="error">{{errorMessage}}</label>
          <button *ngIf="!resetPassword && (isValidMailFormat|push)&&errorMessage.length>0"
            class="btn btn-danger" (click)="sendResetEmail()">Reset Password</button>
          <p *ngIf="resetPassword" class="text-success">Check your email to reset password!</p>                        
          <p class="forgot">Forgot Password?</p>
          <button class="button button-block">Sign In</button>
        </form>
        <button id="kaydet" type="button" class="butto ripple button-outline" (click)="triedGoogleLogin()">Signin with Google</button>
    </section>
    </article><!-- tab-content -->
  </div> <!-- /form -->