<footer class="footer-area">
  <article class="footer">
    <section class="single-footer">
      <h2>about us</h2>
      <p>Lorem ipsum dolor sit amet, di dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Excepteur
        sint qui officia deserunt Excepteur.</p>
      <div class="footer-social">
        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
        <a href="https://instagram.com"><i class="fab fa-instagram"></i><span>Instagram</span></a>
        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i><span>LinkedIn</span></a>
      </div>
    </section>
    <section class="single-footer">
      <h2>main menu</h2>
      <ul>
        <li><a href="home"><i class="fas fa-chevron-right"></i> home</a></li>
        <li><a href="home"><i class="fas fa-chevron-right"></i> about us</a></li>
        <li><a href="home"><i class="fas fa-chevron-right"></i> services</a></li>
        <li><a href="home"><i class="fas fa-chevron-right"></i> gallery</a></li>
        <li><a href="home"><i class="fas fa-chevron-right"></i> contact us</a></li>
      </ul>
    </section>
    <section class="single-footer">
      <h2>quick links</h2>
      <ul>
        <li><a href="home"><i class="fas fa-chevron-right"></i> privacy policy</a></li>
        <li><a href="home"><i class="fas fa-chevron-right"></i> terms & conditions</a></li>
        <li><a href="home"><i class="fas fa-chevron-right"></i> disclaimer</a></li>
      </ul>
    </section>
    <section class="single-footer">
      <h2>contact us</h2>
      <ul>
        <li><a href="home"><i class="fas fa-map-marker-alt"></i> Tepe Üstü, Ümraniye, İstanbul</a></li>
        <li><a href="home"><i class="fas fa-mobile-alt"></i> +90 123 456 789</a></li>
        <li><a href="home"><i class="far fa-envelope"></i> info@demo.com</a></li>
        <li><a href="home"><i class="fas fa-globe-europe"></i> www.demo.com</a></li>
      </ul>
    </section>
  </article>
  <div class="copy">
    <p>&copy; 2020 all rights reserved</p>
  </div>
</footer>