<header>
  <a routerLink="/home" class="logo">
    <div>
      <h1 class="logos">Adam</h1>
    </div>
  </a>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/secure/upload">About</a></li>
      <li class="nav-item nav-item-dropdown">
        <a class="dropdown-trigger" routerLink="/home">Blog</a>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item">
            <a routerLink="/home">blog entry</a>
          </li>
          <li class="dropdown-menu-item">
            <a routerLink="/home">blog entry</a>
          </li>
          <li class="dropdown-menu-item">
            <a routerLink="/home">blog entry</a>
          </li>
        </ul>
      </li>
      <li><a routerLink="secure/admin">Admin</a></li>
      <li class="divider">
        <div class="search-box">
          <img class="simg" src="assets/search.png" width="26px" height="27px" alt="Search" />
          <input type="text" placeholder="Search">
        </div>
      </li>
      <li class="nav-item-dropdown navuser">
        <ng-container *ngIf="(userService.authChangeEmitter|push)||{isIn: name!=='', name: name} as auth">
        <ng-container [ngSwitch]="auth.isIn">
        <a *ngSwitchCase="false" id="gir" routerLink="secure/sign">Giriş Yap</a>
        <figure *ngSwitchCase="true" class="user online dropdown-trigger">
          <img src="assets/profile-img.jpeg" class="online-user" width="50px" height="50px" alt="user" />
          <figcaption>{{auth.name}}</figcaption>
        </figure>
        <ul *ngSwitchCase="true" class="dropdown-menu">
          <li class="dropdown-menu-item">
            <a [routerLink]="['secure/user']">Hesabım</a>
          </li>
          <li class="dropdown-menu-item">
            <a routerLink="secure/user/user-edit">Güncelle</a>
          </li>
          <li class="dropdown-menu-item">
            <button (click)="signOut()">Çıkış</button>
          </li>
        </ul>
        </ng-container>
      </ng-container>
      </li>
    </ul>
  </nav>
</header>